.PlaylistList {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.playlistResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

h3 {
  width: 50%;
}

.buttonAdd {
  display: flex;
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.buttonAdd:hover {
  color: rgba(265, 265, 265, .5);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .PlaylistList {
    width: 90%;
  }
}